<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel='stylesheet' href='/stylesheets/index.css'/>
    <link rel="stylesheet" href="/stylesheets/admin.css">
    <script src="/javascripts/ajax.js"></script>
</head>
<body>
<div id="container">

    <div id="header">
        <span onclick="location.href='/'">Kevinaskin.top</span>
        <a href="/article/piece"> <div class="nav-block">Piece</div></a>
        <a href="/article/blog"> <div class="nav-block">Blog</div></a>
        <a href="/article/photo"><div class="nav-block">Photo</div></a>
        <a href="/about"> <div class="nav-block">About</div></a>

        <div class="nav-login" id="logout">log out</div>
    </div>
    <div id="left-body">

    </div>
    <div id="mid-body">
        <h1>Title:</h1><br>
        <input type="text" id="article-title"><br>
        <h3>Tags:</h3>
        <input type="radio" class="radio" name="article-type"><em>Piece</em>
        <input type="radio" class="radio" name="article-type"><em>Blog</em>
        <input type="radio" class="radio" name="article-type"><em>Photo</em>
        <br>
        <h3>Content:</h3>
        <textarea id="article" cols="30" rows="10"></textarea>
        <br>
        <button id="btn-upload">Upload Article</button>

    </div>
    <div id="right-body"></div>
</div>

<!--ALERT_WORNING-->
<div id="alertworning" class="alertbox">
    <h1 id="exit-worning">_____________________close</h1>
    <p id="worning-msg"></p>
</div>


<script src="/javascripts/admin.js"></script>
</body>
</html>
