<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel='stylesheet' href='/stylesheets/index.css'/>
</head>
<body>
<div id="container">

    <div id="header">
        <span onclick="location.href='/'">Kevinaskin.top</span>
        <div class="nav-block"><a href="#">Piece</a></div>
        <div class="nav-block"><a href="#">Blog</a></div>
        <div class="nav-block"><a href="#">Photo</a></div>
        <div class="nav-block"><a href="/about">About</a></div>
    </div>
    <div id="left-body">

    </div>
    <div id="mid-body">
    </div>
    <div id="right-body"></div>
</div>

<!--ALERT_WORNING-->
<div id="alertworning" class="alertbox">
    <h1 id="exit-worning">_____________________close</h1>
    <p id="worning-msg"></p>
</div>

</body>
</html>
